<html>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@300;400&display=swap" rel="stylesheet"> 
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/footer.css">

<footer>
    <div class='container'>
        <div class='row'>
            <div class='col-md-4 text-left'>
                <h4>Welcome to My Virtual Gallery!  </h4>
                <small>This is a virtual gallery created by genieinabottle25</small>
                <br>
                <br>
                <br>
                <audio autoplay="autoplay" loop="loop" controls="controls">
                    <source src="/assets/audio/The A Team.mp3" type="audio/mpeg" ;align="right" margin-top="0">
                </audio> 
            </div>
            <div class='col-md-4 text-left'>
                <h4>LINK</h4>
                <p><a href='/index.html/'>Home</a></p>
                <p><a href='/about/'>About</a></p>
                <p><a href="hhttps://github.com/genieinabottle25">Github</a></p>
               
              
            </div>
            <div class='col-md-4 text-left'>
                <h4>CONTACT ME</h4>
                <p>King's College London<br>
                   Strand<br>
                   London<br>
                   WC2R 2LS<br>
                   United Kingdom<br></p>
            </div>
        </div>
    </div>
</footer>

</html>
