<html>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Imbue:wght@400;700&family=Open+Sans&display=swap" rel="stylesheet">  
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/footer.css">

<footer>
    <div class='container'>
        <div class='row'>
            <div class='col-md-4 text-left'>
                <img src='/assets/media/Harry Potter Logo PNG Photos.png'>
                <p>Welcome to Muggle Pub, Just grab a Butterbear and JOIN US! </p>
                <small>This is a group project created by students in digital humanity apartment</small>
                <audio autoplay="autoplay" loop="loop" controls="controls">
                    <source src="/assets/media/music.mp3" type="audio/mpeg" align="right" margin-top="0">
                </audio> 
            </div>
            <div class='col-md-4 text-left'>
                <h4>LINK</h4>
                <p><a href='/index.html/'>Home</a></p>
                <p><a href='/about/'>About</a></p>

                <p><a href="https://github.com/kclddh-7aavdm14-2020/final-assessment-group4">Github</a></p>
               
              
            </div>
            <div class='col-md-4 text-left'>
                <h4>CONTACT US</h4>
                <p>King's College London<br>
                   Strand<br>
                   London<br>
                   WC2R 2LS<br>
                   United Kingdom<br>
                   +44 (0)20 7836 5454</p>
            </div>
        </div>
    </div>
</footer>

</html>
