h1{
    text-align: center;
    padding-top: 20%;
    padding-bottom: 20%;
    font-size: 3rem;
}

#text .container p{
    text-align: justify;
    padding-top: 9vh;
    padding-bottom: 3vh;
    font-size: 2.5vh;
}

#list .container h3{
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: #424347;
}

#ending .container{
    padding-top: 12vh;
    font-size: 3vh;
    font-style: italic;
    padding-bottom: 6vh;
}