---
title: Home
layout: default
---

<section id='intro'>
  <div class="card">
    <img class="card-img" src="/assets/images/other/pexels-jeffrey-czum-3330118.jpg" alt="Card image" style="width: 100%;height: 80vh;">
    <div class="card-img-overlay" style="padding: 100px 0;"> 
      <p class="text-black text-center font-weight-bold" style="font-size: 80px; margin-top: 5vh">Welcome to my gallery</p>
      <p class="text-center" style="margin-top: 8vh;"> 
         <a class="btn btn-secondary" a href="/about"> About</a>
      </p>
    </div>
  </div>
</section>

<section id='quarantine'>
  <div>
    <h2 class='text-center'>
    My Quarantine Memory
    </h2>
  </div>  

  <div style="padding: 10px 20px;">
    <div class="d-flex justify-content-center">
     <!-- Tip: use bg-* and text-* utilities to style the card -->
      <div class="card text-white mb-3 d-inline-block" style="width: 30%; margin: 0 10px;">
        <img class="card-img" src="/assets/images/cooking/jianjiao2.jpg" alt="Card image">
        <div class="card-img-overlay card-body text-center" style="margin-top: 18%;">
          <h4 class="card-title">Cooking During Quarantine</h4>
          <a href="/cooking.html " class="btn btn-outline-light shadow-lg">more</a>
        </div>
      </div>

      <div class="card text-white mb-3 d-inline-block" style="width: 30%;margin: 0 10px;">
        <img class="card-img" src="/assets/images/market/wall-painting-in-um.JPG" alt="Card image">
        <div class="card-img-overlay card-body text-center" style="margin-top: 18%;">
          <h4 class="card-title">Market being Quiet</h4>
          <a href="/fanclub/asmr/asmr.html " class="btn btn-outline-light shadow-lg ">more</a>
        </div>
      </div>

      <div class="card text-white mb-3 d-inline-block" style="width: 30%;margin: 0 10px;">
        <img class="card-img" src="/assets/images/ocean/white-cliff-in-bt2.JPG" alt="Card image">
        <div class="card-img-overlay card-body text-center" style="margin-top: 18%;">
          <h4 class="card-title">Ocean as a Vision</h4>
          <a href="/fanclub/asmr/asmr.html " class="btn btn-outline-light shadow-lg ">more</a>
        </div>

    </div>
  </div>

  <div style="padding: 10px 20px;">
    <div class="d-flex justify-content-center">
     <!-- Tip: use bg-* and text-* utilities to style the card -->
      <div class="card text-white mb-3 d-inline-block" style="width: 30%;margin: 0 10px;">
        <img class="card-img" src="/assets/images/park/park-near-ae.JPG" alt="Card image">
        <div class="card-img-overlay card-body text-center" style="margin-top: 18%;">
          <h4 class="card-title">Park without Bark</h4>
          <a href="/fanclub/asmr/asmr.html " class="btn btn-outline-light shadow-lg ">more</a>
        </div>
      </div>

      <div class="card text-white mb-3 d-inline-block" style="width: 30%;margin: 0 10px;">
        <img class="card-img" src="/assets/images/posting/wallpainting-in-um2.JPG" alt="Card image">
        <div class="card-img-overlay card-body text-center" style="margin-top: 18%;">
          <h4 class="card-title">Posting for Wellbeing</h4>
          <a href="/fanclub/asmr/asmr.html " class="btn btn-outline-light shadow-lg ">more</a>
        </div>
      </div>

      <div class="card text-white mb-3 d-inline-block" style="width: 30%;margin: 0 10px;">
        <img class="card-img" src="/assets/images/street/shop-in-ns.JPG" alt="Card image">
        <div class="card-img-overlay card-body text-center" style="margin-top: 18%;">
          <h4 class="card-title">Streetview got the feel</h4>
          <a href="/fanclub/asmr/asmr.html " class="btn btn-outline-light shadow-lg ">more</a>
        </div>

    </div>
  </div>
  
</section>






  
  
