---
title: Home
layout: default
---

<div class="card">
  <img class="card-img" src="/mygallery/assets/images/other/pexels-moose-photos-1037994.jpg" alt="Card image" style="width: 100%;height: 100vh;">
  <div class="card-img-overlay" style="padding: 100px 0;"> 
    <p class="display-3 text-black text-center font-weight-bold" style="font-size: 80px;">Welcome to my gallery</p>
   
    <div class="text-center" style="margin-top: 100px;">
      <a class="btn btn-dark btn-lg" a href="/about"> About</a>
    </div>
  </div>
</div>

<div style="padding: 10px 20px;">
  <div class="d-flex justify-content-center">
    <!-- Tip: use bg-* and text-* utilities to style the card -->
    <div class="card text-white bg-warning mb-3 d-inline-block" style="width: 30%;margin: 0 10px;">
      <div class="card-body text-center">
        <h4 class="card-title">Cooking During Quarantine</h4>
        <p class="card-text">This archive is a collection of popular Harry Potter ASMR videos on YouTube</p >
        <a href="/fanclub/asmr/asmr.html " class="btn btn-secondary shadow-lg ">more</a>
      </div>
    </div>

    <div class="card text-white bg-info mb-3 d-inline-block" style="width: 30%;margin: 0 10px;">
      <div class="card-body text-center">
        <h4 class="card-title">HP Fanfiction📚</h4>
        <p class="card-text">This archive is a list of Harry Potter Fanfiction between 2010-2019</p >
        <a href="/fanclub/fanfiction" class="btn btn-secondary">more</a>
      </div>
    </div>

    <div class="card text-white bg-danger mb-3 d-inline-block" style="width: 30%;margin: 0 10px;">
      <div class="card-body text-center">
        <h4 class="card-title">HP Landmark🚩</h4>
        <p class="card-text">This archive contains many famous places in HP</p >
        <a href="/landmark.html" class="btn btn-secondary">Click to see details</a>
      </div>
    </div>

  </div>

  <div class="d-flex justify-content-center">
    <div class="card text-white bg-success mb-3 d-inline-block" style="width: 30%;margin: 0 10px;">
      <div class="card-body text-center">
        <h4 class="card-title">HP Characters🧙</h4>
        <p class="card-text">This collection contains brief introductions in HP Characters</p >
        <a href="/Characters.html" class="btn btn-secondary">Click to see details</a>
      </div>
    </div>

    <div class="card text-white bg-warning mb-3 d-inline-block" style="width: 30%;margin: 0 10px;">
      <div class="card-body text-center">
        <h4 class="card-title">HP Film series 🎬</h4>
        <p class="card-text">This archive contains inforamtion of HP film series</p >
        <a href="/filmseries.html " class="btn btn-secondary shadow-lg ">Click to see details</a>
      </div>
    </div>
    
    
    <div class="card text-white bg-primary mb-3 d-inline-block" style="width: 30%;margin: 0 10px;">
    <div class="card-body text-center">
      <h4 class="card-title">HP Books 📖</h4>
      <p class="card-text">This archive contains brief introductions in HP books</p >
      <a href="/books.html " class="btn btn-secondary shadow-lg ">Click to see details</a>
    </div>
  </div>
    
    
  </div>

  
</div>
  
</div>
  






  
  
