---
layout: default
---

<script src="https://kit.fontawesome.com/cb0a8294e9.js" crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Imbue:wght@400;700&family=Open+Sans&display=swap" rel="stylesheet">

<section id='intro'>
    <div class="card">
      <img class="card-img" src="/assets/images/street/{{page.image_url}}" alt="Card image" style="width: 100%;height: 80vh;">
      <div class="card-img-overlay" style="padding: 100px 0;"> 
        <p class="text-white text-center font-weight-bold" style="font-size: 50px; margin-top: 13%; font-family:fantasy;">{{ page.name }}</p>
        <p class='lead text-center text-white' style='font-family: initial; font-weight:normal; font-size: 30px;'> My Quarantine Story| Cooking During Quarantine </p>
      </div>
    </div>
  </section>

<section id='second'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-10 offset-md-1'>
                <h3 class='text-center' style='font-size: 34px; font-family:serif; margin-top: 5vh; margin-bottom: 3vh;'>{{page.name}}</h3>
                <i><p style='text-align:justify; color: #2c3136; font-family: cursive;'>"{{page.description}}"</p></i>
            </div>
        </div>
    </div>
</section>

<section id='metadata'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-10 offset-md-1'>
                <h3 class='text-center' style='font-size: 32px; font-family: serif; margin-top: 5vh;'> Information</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>resource date:</b>&nbsp&nbsp {{page.resource_date}}</li>
                    <li class="list-group-item"><b>keywords:</b>&nbsp&nbsp {{page.keywords}}</li>
                    <li class="list-group-item"><b>file format:</b>&nbsp&nbsp {{page.file_format}}</li>
                    <li class="list-group-item"><b>file size:</b>&nbsp&nbsp {{page.file_size}}</li>
                    <li class="list-group-item"><b>image width:</b>&nbsp&nbsp {{page.image_width}}</li>
                    <li class="list-group-item"><b>image height:</b>&nbsp&nbsp {{page.image_height}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

